@model StarCollege.Models.ViewModels.EnrollmentVM

<form method="post" asp-action="Delete">
	<input asp-for="Enrollment.Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Enrollment</h2>
			<hr />
		</div>

		<div class="mb-3">
			<label asp-for="Enrollment.Score"></label>
			<input asp-for="Enrollment.Score" disabled class="form-control" />
		</div>
		<div class="mb-3 col-6">
			<label asp-for="Enrollment.StudentId"></label>
			<select asp-for="Enrollment.StudentId" disabled asp-items="@Model.StudentList" class="form-select">
			</select>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="Enrollment.ClassroomId"></label>
			<select asp-for="Enrollment.ClassroomId" disabled asp-items="@Model.ClassroomList" class="form-select">
			</select>
		</div>

		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Enrollment" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>