@model Student

<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Student</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="FirstMidName"></label>
			<input asp-for="FirstMidName" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="LastName"></label>
			<input asp-for="LastName" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>