@model StarCollege.Models.ViewModels.ClassroomVM

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">@(Model.Classroom.Id != 0 ? "Edit" : "Create") Classroom</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Classroom.ClassCode"></label>
			<input asp-for="Classroom.ClassCode" class="form-control" />
			<span asp-validation-for="Classroom.ClassCode" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="Classroom.CourseId"></label>
			<select asp-for="Classroom.CourseId" asp-items="@Model.CourseList" class="form-select">
				@*<option disabled selected>--Select Subject--</option>*@
			</select>
			<span asp-validation-for="Classroom.CourseId" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="Classroom.TeacherId"></label>
			<select asp-for="Classroom.TeacherId" asp-items="@Model.TeacherList" class="form-select">
				@*<option disabled selected>--Select Subject--</option>*@
			</select>
			<span asp-validation-for="Classroom.TeacherId" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary" style="width:150px">@(Model.Classroom.Id != 0 ? "Update" : "Create")</button>
		<a asp-controller="Classroom" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>
